.chat {
  min-height: 33vh;
}

.chat .messages-scroller {
  /* Make the scrollbar default to being at the end, instead of the start */
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  flex-grow: 1;
}

.chat .messages {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: auto;
}

.chat .messages-form {
  margin: 20px 0 15px 0;
  position: relative;
}

.chat .messages-form textarea {
  width: 100%;
  border-radius: 5px;
  padding-right: 70px;
  font-size: 20px;
  scrollbar-width: none;
  resize: none;
}

.chat .messages-form button {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  margin: 5px;
}
