.chat {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  min-height: 33vh;
}

.chat .messages-scroller {
  /* Make the scrollbar default to being at the end, instead of the start */
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  flex-grow: 1;
}

.chat .messages {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: auto;
}

.chat .write-message {
  flex-shrink: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 15px 0;
}

.chat .write-message textarea {
  --control-corner-radius: 20;
  min-height: 90px;
  width: 100%;
}
