@page "/"
@using AIChatApp.Components.Chat

<PageTitle>CAS: chat on your data</PageTitle>

<h1 class="mt-2 mb-3" id="wb-cont">CAS: chat on your data</h1>

<p>
  This proof of concept is still under development. Work is ongoing.
</p>

<h2 class="h3">
  Get answers to your CAS questions.
</h2>

<Chat />
