@namespace AIChatApp.Components.Canada

<!-- Static footer begins -->
<footer id="wb-info">
  <div class="gc-sub-footer">
    <div class="container d-flex align-items-center">
      <nav>
        <h3 class="wb-inv">Government of Canada Corporate</h3>
        <ul>

          <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
          <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
          <li><a href="https://www.canada.ca/en/government/about.html">About Canada.ca</a></li>

          <li><a href="/en/transparency/terms.html">Terms and conditions</a></li>
          <li><a href="/en/revenue-agency/corporate/privacy-notice.html">Privacy</a></li>
        </ul>
      </nav>

      <div class="wtrmrk align-self-end">
        <img src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/wmms-blk.svg"
          alt="Symbol of the Government of Canada" />
      </div>
    </div>
  </div>
</footer>
<!-- Static footer ends -->