@namespace AIChatApp.Components.Canada

<!-- Phase banner begins -->
<section class="alpha-top">
  <div class="container">
    <span class="label label-warning">Alpha</span>
    &nbsp;&nbsp;Page expérimentale - non publique.
  </div>
</section>
<!-- Phase banner ends -->
